h1{
	color: orange;
}

img{
	width: 400px;
}	

#thirdDiv{
	height: 600px;
	max-width : 500px;			/*Mejorará la situación cuando la ventana del navegador sea pequeña*/
	background: lightsteelblue;
	padding: 50px;
	border: 1px black solid;
    margin-left: auto;			/*Para centrar el elemento.*/
    margin-right: auto;
    margin-top: 20px;
}

#spanId{
	font-size: 18px;
	margin: 50px;
}

body{
	background-image: url("https://carontestudio.com/img/contacto.jpg");
	background-size: cover;
}

.divClass {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}